.idea/
.vagrant/
venv/
vagrant/tmp/
src/*/local/**
src/*/metadata/local.meta
src/pyden-manager/bin/build/*
!src/pyden-manager/bin/build/README
python-logo.xcf
*.
screenshots/*
!screenshots/.gitkeep
__pycache__